name: app
description: "A new Flutter project."
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  fl_chart: ^0.68.0


  cupertino_icons: ^1.0.8
  shared_preferences: ^2.5.3
  speech_to_text: ^7.3.0
  permission_handler: ^12.0.1
  http: ^1.5.0
  sqflite: ^2.4.2
  path: ^1.9.1
  intl: ^0.20.2
  image_picker: ^1.2.0
  google_ml_kit: ^0.20.0
  lottie: ^3.3.1
  flutter_local_notifications: ^16.2.0

dev_dependencies:
  flutter_test:
    sdk: flutter


  flutter_lints: ^5.0.0

flutter:

  uses-material-design: true

  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  
